<div class="header">
  <h1 class="title">Gallery Books</h1>
</div>

<div class="container">
  <form method="post" action="upload/save.php" enctype="multipart/form-data">
    <input type="file" name="arquivo" />
    <input type="submit" value="sabe" class="btn btn-small btn-success" />
  </form>
</div>

<div class="container">
  <input type="text" placeholder="search in {{ books.length }} books" ng-model="search" class="search">
  <table class="table table-bordered">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th class="center">I Want</th>
    </thead>
    <tbody class="table-hover">
      <tr ng-repeat="book in books | filter:search">
        <td>
          {{ book.name }}
        </td>
        <td>
          {{ book.description }}
        </td>
        <td class="i-want center">
          <a href="{{ book.url }}" class="btn btn-small btn-primary"> <i class="glyphicon glyphicon-circle-arrow-down"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>